In [ ]:
"""SQL learn module."""

# <center> Базовые запросы </center>
SQL - простыми словами инструмент(язык) запросов для обращенияк базе  данных 

Базы данных -  это структура которая представляет собой хранилище наших данных , с помощью SQL мы делаем запросы к БД. 

Следующий запрос представляет дает задачу БД предоставить нам выборку всех данных с таблицы courier actions (select значит выбрать) (*  значит все данные) , (limit 10  значит ограничить выборку первыми 10ю записями в БД)
*cиним цветом в данном случае подсвечиваются команды  sql
Примечание: запросы лучше писать более явно, то есть вместо * нужно отдавать предпочтение названиям колонок в таблице бд.

![SELECT QUERY EXPL1](../Images/learn_sql_img/select_query_example1.png)


В продакшене не рекомендуется использовать запросы вроде "SELECT * FROM table;", так как большинство таблиц содержат миллионы строк данных. Этот тип запроса может привести к долгому выполнению или даже не выполниться вовсе. Поэтому важно явно указывать ограничение (LIMIT), если требуется получить результат запроса.

 
Следующий запрос отличается от предыдущего добавлением в него сортировки с помощью метода ORDER_BY + название таблицы по какой делаем сортировку , параметр DESC значит сделать выборку по убыванию, если его не указать, то выборка будет по возрастанию.  

![SELECT QUERY EXPL2](../Images/learn_sql_img/select_query_example2.png)

Ещё один пример запроса:

![SELECT QUERY EXPL3](../Images/learn_sql_img/select_query_example3.png)

Правильный порядок операторов:

![CORRECT ORDER  SQL STATEMENTS](../Images/learn_sql_img/сorrect_order_sql.png)

Типичные ошибки при запросах:

![TYPICAL MISTAKES](../Images/learn_sql_img/typical_mistakes1.png)


Всегда стоит явно указывать округление , даже если среда сразу показывает нужное количество цифр после запятой!

В оператор round первым параметром приходит число которое нужно округлить, а вторым значение до скольки знаков после запятой это следует сделать(если вторым параметром пришло положительное число), если же число наоборот отрицательное , то у нас  происходит округление перед запятой

![ROUND EXAMPLE](../Images/learn_sql_img/round_func_expl.png)


Среда разработки может иметь свой тип вывода определенных данных и чтобы посмотреть в каком формате приходят данные мы можем воспользоваться  ::text что значит преобразовать в текстовый формат, так мы увидим какими изначально нам приходят данные. 

![HOW DATA LOOKS](../Images/learn_sql_img/column_view_expl.png)

Задание 1: 

![TASK 1](../Images/learn_sql_img/task1_sql.png)

Решение:

![SOLUTION 1](../Images/learn_sql_img/solution_task1.png) 

<br> 

Задание 2:

![TASK 2](../Images/learn_sql_img/task2.png)

Решение:

![SOLUTION 2](../Images/learn_sql_img/solution_task2.png)

<br> 

Задание 3:

![TASK 3](../Images/learn_sql_img/task3.png)

Решение:

![SOLUTION 3](../Images/learn_sql_img/solution_task3.png)

<br> 

Задание 4:

![TASK 4](../Images/learn_sql_img/task4.png)

Решение:

![SOLUTION 4](../Images/learn_sql_img/solution_task4.png)

<br>

Задание 5: 

![TASK 5](../Images/learn_sql_img/task5.png)

Решение:

![SOLUTION 5](../Images/learn_sql_img/solution_task5.png)

<br>

Задание 6: 

![TASK 6](../Images/learn_sql_img/task6_1.png)
![TASK 6](../Images/learn_sql_img/task6_2.png)

Решение: 

![SOLUTION 6](../Images/learn_sql_img/solution_task6.png)

<br>

Задание 7: 

![TASK 7](../Images/learn_sql_img/task7_1.png)
![TASK 7](../Images/learn_sql_img/task7_2.png)
![TASK 7](../Images/learn_sql_img/task7_3.png)
![TASK 7](../Images/learn_sql_img/task7_4.png)

Решение:

![SOLUTION 7](../Images/learn_sql_img/solution_task7.png)

<br>

Задание 8:

![TASK 8](../Images/learn_sql_img/task8_1.png)
![TASK 8](../Images/learn_sql_img/task8_2.png)
![TASK 8](../Images/learn_sql_img/task8_3.png)

Решение:

![SOLUTION 8](../Images/learn_sql_img/solution_task8.png)

<br>

Задание 9:

![TASK 9](../Images/learn_sql_img/task9_1.png)
![TASK 9](../Images/learn_sql_img/task9_2.png)


Решение:

![SOLUTION 9](../Images/learn_sql_img/solution_task9_1.png)

<br>

Задание 10:

![TASK 10](../Images/learn_sql_img/task10_1.png)
![TASK 10](../Images/learn_sql_img/task10_2.png)
![TASK 10](../Images/learn_sql_img/task10_3.png)


Решение:

![SOLUTION 10](../Images/learn_sql_img/solution_task10_1.png)

<br>

Задание 11:

![TASK 11](../Images/learn_sql_img/task11_1.png)
![TASK 11](../Images/learn_sql_img/task11_2.png)
![TASK 11](../Images/learn_sql_img/task11_3.png)


Решение:

![SOLUTION 11](../Images/learn_sql_img/solution_task11.png)


<br>

Задание 12:

![TASK 12](../Images/learn_sql_img/task12_1.png)
![TASK 12](../Images/learn_sql_img/task12_2.png)
![TASK 12](../Images/learn_sql_img/task12_3.png)


Решение:

![SOLUTION 12](../Images/learn_sql_img/solution_task12.png)

<br>

Задание 13:

![TASK 13](../Images/learn_sql_img/task13_1.png)
![TASK 13](../Images/learn_sql_img/task13_2.png)

Решение:

![SOLUTION 13](../Images/learn_sql_img/solution_task13.png)

<br>

Задание 14:

![TASK 14](../Images/learn_sql_img/task14_1.png)
![TASK 14](../Images/learn_sql_img/task14_2.png)
![TASK 14](../Images/learn_sql_img/task14_3.png)
![TASK 14](../Images/learn_sql_img/task14_4.png)
![TASK 14](../Images/learn_sql_img/task14_5.png)
![TASK 14](../Images/learn_sql_img/task14_6.png)

Решение:
![SOLUTION 14](../Images/learn_sql_img/solution_task14.png)

<br>

Задание 15:

![TASK 15](../Images/learn_sql_img/task15.png)


Решение:    
![SOLUTION 15](../Images/learn_sql_img/solution_task15.png)

<center> Группировка данных в SQL </center> 
<br>
Чтобы группировка сработала она должна выглядеть следующим образом
SELECT column_name  -- сначала выбираем колонку таблицы.
FROM table_name  -- затем указываем таблицу.
WHERE column_name = 1  указываем условие для фильтрации.
GROUP BY column_name  -- затем группируем по колонке.

То есть группировка всегда должна происходить после фильтрации данных.

Ключевое слово  HAVING используется когда нам нужно применить какое то условие к результатм агрегации (используется после WHERE)

Например вот как может выглядеть такой запрос:

SELECT product, SUM(amount) AS total_sales
FROM sales
WHERE amount > 50
GROUP BY product
HAVING SUM(amount) > 200;



Но что если в результат группировки и агрегации мы хотим включить не все группы, а только те, для которых выполняется некоторое условие? Например, только те размеры заказов, количество которых выше или ниже определённого значения? Или только те возрастные группы, количество пользователей в которых превышает заданный порог?

Судя по всему, для этого нам необходимо каким-то образом наложить фильтрацию уже поверх группировки. Но, как мы выяснили, оператор WHERE использовать после GROUP BY нельзя. Что же тогда делать?

Специально для таких случаев существует оператор HAVING, который тоже выполняет функцию фильтрации, но работает поверх уже сгруппированных данных.
<br>
<br>
<span style="color: #056744;">
В этом и заключается ключевое отличие операторов WHERE и HAVING: первый фильтрует записи в таблице перед группировкой и агрегацией, а второй — после. Кстати, это простой, но довольно популярный вопрос на собеседовании по SQL.
</span>
<br>
<br>

Ещё одна важная особенность работы оператора HAVING: в этом блоке нельзя указывать алиасы полей с результатом агрегации из блока SELECT. Дело в том, что в соответствии с порядком выполнения запроса оператор SELECT выполняется после оператора HAVING. Поэтому агрегацию необходимо также указывать и в HAVING.
<br>
<br>
<br>
<br>

Здесь важно понять, что группировка, агрегация и фильтрация групп со всеми расчётами происходят всегда до выполнения инструкций в блоке SELECT, где вы просто определяете, что попадёт в результирующую таблицу.

Таким образом, мы снова можем дополнить список ключевых слов в запросе:

```sql
SELECT
FROM
WHERE
GROUP BY
HAVING
ORDER BY
LIMIT
```

Порядок их выполнения в запросе следующий:

Сначала выполняется оператор FROM — происходит выбор нужной таблицы.
Далее WHERE — отфильтровываются строки, соответствующие условию.
Потом GROUP BY — строки объединяются в группы и производится агрегация.
Затем HAVING — отфильтровываются группы, соответствующие условию.
После этого SELECT — отбираются указанные столбцы.
Потом ORDER BY — производится сортировка результирующей таблицы.
И в самом конце LIMIT — ограничивается количество выводимых записей.
<br>
<br>
<br>
<br>
<br>

-- Из таблицы user_actions отберите пользователей, у которых последний заказ был создан до 8 сентября 2022 года.

-- Выведите только их id, дату создания заказа выводить не нужно.

-- Результат отсортируйте по возрастанию id пользователя.

-- Поле в результирующей таблице: user_id
```sql
SELECT 
    user_id
FROM 
    user_actions
WHERE 
    action = 'create_order'
GROUP BY 
    user_id
HAVING 
    MAX(time) < '2022-09-08'
ORDER BY 
    user_id ASC;

```

<span style="color: darkred;">
<center>Задание:</center>
</span>

Разбейте заказы из таблицы orders на 3 группы в зависимости от количества товаров, попавших в заказ:

Малый (от 1 до 3 товаров);
Средний (от 4 до 6 товаров);
Большой (7 и более товаров).
Посчитайте число заказов, попавших в каждую группу. Группы назовите соответственно «Малый», «Средний», «Большой» (без кавычек).

Выведите наименования групп и число товаров в них. Колонку с наименованием групп назовите order_size, а колонку с числом заказов — orders_count.

Отсортируйте полученную таблицу по колонке с числом заказов по возрастанию.

Поля в результирующей таблице: order_size, orders_count

<br>
<br>
<br>
<br>

<span style="color: darkgreen;" >
<center>Ответ: </center>
<br>

```sql
SELECT 
    CASE
        WHEN array_length(product_ids, 1) >= 1 AND array_length(product_ids, 1) <= 3 THEN 'Малый'
        WHEN array_length(product_ids, 1) >= 4 AND array_length(product_ids, 1) <= 6 THEN 'Средний'
        WHEN array_length(product_ids, 1) >= 7 THEN 'Большой'
    END AS order_size,
    COUNT(order_id) AS orders_count
FROM 
    orders
GROUP BY 
    order_size
ORDER BY 
    orders_count ASC;
```
</span>

<span style="color: darkred;">
<center>Задание:</center>
</span>

Посчитайте количество товаров в каждом заказе, примените к этим значениям группировку и рассчитайте количество заказов в каждой группе. Учитывайте только заказы, оформленные по будням. В результат включите только те размеры заказов, общее число которых превышает 2000. Для расчётов используйте данные из таблицы orders.

Выведите две колонки: размер заказа и число заказов такого размера. Колонки назовите соответственно order_size и orders_count.

Результат отсортируйте по возрастанию размера заказа.

Поля в результирующей таблице: order_size, orders_count

Когда решите эту задачу, вернитесь к одной из предыдущих и подумайте, могли бы мы ещё каким-то способом сделать так, чтобы в результат не попала группа с NULL значениями. Можете самостоятельно написать ещё один запрос и попробовать сдать его в качестве альтернативного решения.

<br>
<br>
<br>
<br>

<span style="color: darkgreen;" >
<center>Ответ: </center>
<br>

```sql
SELECT array_length(product_ids, 1) as order_size,
       count(order_id) as orders_count
FROM   orders
WHERE  to_char(creation_time, 'Dy') not in ('Sat', 'Sun')
GROUP BY order_size having count(order_id) > 2000
ORDER BY order_size
```
</span>

<span style="color: darkred;">
<center>Задание:</center>
</span>

По данным из таблицы orders рассчитайте средний размер заказа по выходным и будням.

Группу с выходными днями (суббота и воскресенье) назовите «weekend», а группу с будними днями (с понедельника по пятницу) — «weekdays» (без кавычек).

В результат включите две колонки: колонку с группами назовите week_part, а колонку со средним размером заказа — avg_order_size. 

Средний размер заказа округлите до двух знаков после запятой.

Результат отсортируйте по колонке со средним размером заказа — по возрастанию.

Поля в результирующей таблице: week_part, avg_order_size

<br>
<br>
<br>
<br>

<span style="color: darkgreen;" >
<center>Ответ: </center>
<br>

```sql
SELECT case when to_char(creation_time, 'Dy') in ('Sat', 'Sun') then 'weekend'
            else 'weekdays' end as week_part,
       round(avg(array_length(product_ids, 1)), 2) as avg_order_size
FROM   orders
GROUP BY week_part
ORDER BY avg_order_size
```
</span>

<span style="color: darkred;">
<center>Задание:</center>
</span>

Для каждого пользователя в таблице user_actions посчитайте общее количество оформленных заказов и долю отменённых заказов.

Новые колонки назовите соответственно orders_count и cancel_rate. Колонку с долей отменённых заказов округлите до двух знаков после запятой.

В результат включите только тех пользователей, которые оформили больше трёх заказов и у которых показатель cancel_rate составляет не менее 0.5.

Результат отсортируйте по возрастанию id пользователя.

Поля в результирующей таблице: user_id, orders_count, cancel_rate

<br>
<br>
<br>
<br>

<span style="color: darkgreen;" >
<center>Ответ: </center>
<br>

```sql
SELECT user_id,
       count(distinct order_id) as orders_count,
       round((count(distinct order_id) filter (WHERE action = 'cancel_order')::numeric / count(distinct order_id)),
             2) as cancel_rate
FROM   user_actions
GROUP BY user_id having count(distinct order_id) > 3 and (count(distinct order_id) filter (
WHERE  action = 'cancel_order')::numeric / count(distinct order_id)) >= 0.5
ORDER BY user_id asc;
```
<span style = "color: darkorange">
* Ключевое слово DISTINCT в SQL используется для удаления дубликатов из результирующего набора данных. Когда вы используете COUNT(DISTINCT column), это подсчитывает количество уникальных значений в столбце column, игнорируя повторяющиеся значения.
</span>
</span>